body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: rgb(202, 194, 194);
}

h1{
    text-align: center;
}

.models-exercicio{
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    width: 400px;
    height: 800px;
    background-color: rgb(34, 214, 184);
    margin-left: 20px;
    margin-bottom: 20px;
}

.exercicios{
    display: flex;
    margin-top: 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.models-title{
    text-align: center;
}

video{
    width: 300px;
    margin-left: 50px;
    border: 2px solid black;
    border-radius:10px ;
}

.models-desc{
    font-size: 17px;
}

.models-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 200px;
    height: 30px;
}

button{
    padding: 10px;
    font-size: 25px;
    color: white;
    background-color: rgb(19, 105, 204);
}