body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: rgb(224, 219, 219);
}

/*Popups*/
.popups-wrapper{
    position: absolute;
    width: 350px;
    background-color: white;
    padding: 15px;
    border: 3px solid black;
    border-radius: 5px;
    left: 36%;
    top: 14%;
    display: none;
    animation-name: animationPopups;
    animation-duration: 1000ms;
    z-index: 99;
}

@keyframes animationPopups {
    0%{
        transform: translate(0px, -100px);
        opacity: 0;
    }

    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.btn-popups{
    height: 30px;
    background-color: yellowgreen;
    margin-top: 20px;
    cursor: pointer;
}

.btn-popups:hover{
    background-color: rgb(144, 194, 45);
}

h1{
    margin-bottom: 20%;
    text-align: center;
    font-size: 40px;
}

/*Sidebar*/

.sidebar{
    border: 1px solid black;
    position: fixed;
    width: 240px;
    top: 0px;
    left: -240px;
    height: 100%;
    background: #d6abab;
    transition: all .5s ease;
    z-index: 99;
  }
  .sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  
  /*Outros (Aside)*/
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: fixed;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    background-color: rgb(175, 110, 236);
    border: 1px solid black;
    padding: 5px;
    top: 0px;
    margin: 15px 30px;
    font-size: 29px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
    z-index: 99;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  
  /*Songs*/
  .listSongs{
      display: none;
      right: 17px;
      width: 200px;
      height: 20px;
      position: absolute;
  }
  
  .songs-btn{
      width: 150px;
      height: 45px;
      margin-left: 48px;
      margin-top: 10px;
      background-color: rgb(86, 171, 228);
      color: white;
      cursor: pointer;
  }

  .songs-btn:hover{
      background-color: rgb(127, 37, 211);
  }
  
  /*Exercises*/
  .listExercises{
      display: none;
  }
  
  h3{
      color: white;
      text-align: center;
      margin-right: 30px;
  }
  
  hr{
      background-color: white;
      height: 2px;
  }

  #hrExercises{
      margin-right: 35px;
  }
  
  .exerciciosBtn{
      margin-right: 50%;
  }
  
  .exercises{
      margin-top: 10px;
      margin-left: 48px;
      background-color: rgb(86, 171, 228);
      width: 150px;
      height: 45px;
      color: white;
      cursor: pointer;
  }

  .exercises:hover{
      background-color: rgb(127, 37, 211);
  }

/*Modelos exercicios*/
.models-exercicio{
    padding: 15px;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    border: 2px solid black;
    width: 400px;
    height: 800px;
    background-color: rgb(34, 214, 184);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

video{
    border-radius: 10px;
}

.exercicios{
    display: flex;
    flex-wrap: wrap;
}

.models-desc{
    font-size: 17px;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(19, 105, 204);
}

@media (max-width:650px) {
    #fechaMenu{
        margin-top: 350px;
    }
    
    video{
        margin-left: auto;
        margin-right: auto;
    }

    .popups-wrapper{
        left: 5.8%;
        width: 400px;
    }

    h1{
        margin-bottom: 60%;
    }

}