body{
    box-sizing: border-box;
    background-color: #e0dbdb;
}

h1{
    text-align: center;
    margin-bottom: 100px;
}

.exercicios{
    background-color: rgb(228, 41, 41);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 750px;
    padding: 10px;
}

.models-desc{
    color: white;
}

.models-title{
    color: white;
}

/*Side bar*/

.sidebar{
  border: 1px solid black;
  position: fixed;
  width: 240px;
  top: 0px;
  left: -240px;
  height: 100%;
  background: #d6abab;
  transition: all .5s ease;
  z-index: 99;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  text-decoration: none;
  padding-left: 30px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}

/*Outros (Aside)*/

nav ul button{
  margin-left: 30px;
}

#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: rgb(175, 110, 236);
  border: 1px solid black;
  padding: 5px;
  top: 0px;
  margin: 15px 30px;
  font-size: 29px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
  z-index: 99;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

/*Songs*/
.listSongs{
    display: none;
    right: 17px;
    width: 200px;
    height: 20px;
    position: absolute;
}

.songs-btn{
    width: 150px;
    height: 45px;
    margin-left: 48px;
    margin-top: 10px;
    background-color: rgb(86, 171, 228);
    color: white;
    cursor: pointer;
}

.songs-btn:hover{
    background-color: rgb(127, 37, 211);
}

/*Exercises*/
.listExercises{
    display: none;
}

h3{
    color: white;
    text-align: center;
    margin-right: 30px;
}

hr{
    background-color: white;
    height: 2px;
}

#hrExercises{
    margin-right: 35px;
}

.exerciciosBtn{
    margin-right: 50%;
}

.exercises{
    margin-top: 10px;
    margin-left: 48px;
    background-color: rgb(86, 171, 228);
    width: 150px;
    height: 45px;
    color: white;
    cursor: pointer;
}

.exercises:hover{
    background-color: rgb(127, 37, 211);
}
